

/*== Chat Interface ==========================================================*/

/*-- Layout ------------------------------------*/
.chat_main {
    background: #555;
    width: 100%;
    margin-top: 3.5rem;
    border: solid 3px #333;
    outline: 1px black solid;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.chat_main input {
    background: #555;
    color: white;
    font-size: 2rem;
    font-family: serif;
}
.chat_input {
    width: 100%;
    display: flex;
    border-top: 1px solid black;
}
.chat_inputprompt {
    padding: 0.3rem 1rem;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.chat_input input {
    flex-grow: 1;
    border: 0px;
}

.chat_output {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* The above is bugged. The below outputbuffer is a workaround. */
    flex-grow: 1;
}
.chat_outputbuffer {
    flex: 1 1 auto;
}

/*-- Messages ----------------------------------*/
.message {
}
.message_username {
    font-weight: bold;
    color: red;
    padding: 0.3rem 1rem;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.message_body {
}
