/*============================================================================*/
/*----------------------------------------------*/


/*== Sensible Configuration ==================================================*/

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
body {
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
}
a:any-link {
    color: inherit;
    text-decoration: none;
}


/*== Layout ==================================================================*/

html {
}
main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
header {
}
footer {
    border-top: 3px solid black;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*@font-face {
    font-family: 'main-font';
    src: url('/font/columbus.woff2') format('woff2'), url('/font/columbus.woff') format('woff'), url('/font/columbus.ttf') format('truetype');
}*/
.wordmark {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem 0;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
@media (min-width: 500px) {
    header {
        margin-right: auto;
        align-items: flex-end;
    }
}
header nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media (min-width: 500px) {
    header nav {
        /* margin-right: auto;
        margin-left: auto; */
        flex-direction: row;
        flex-wrap: wrap;
    }
}
header nav a {
    font-size: 2rem;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 0rem;
}
@media (min-width: 500px) {
    header nav a {
        border-width: 1px;
    }
}
header nav a:any-link {
    text-decoration: none;
}
header nav a:hover {
    background-color: #fbfbfb;
}
header nav a:active {
    color: #ff0000;
}
footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container {
    width: 100%;
}
@media (min-width: 500px) {
    .container {
        max-width: 95rem;
        margin: 0 auto;
    }
}


/*== Theme ===================================================================*/

html {
    background: #333;
    /* background-image: url('./bg_noise_black.png'); */
    background-image: url('./background_4.jpg');
    color: white;
}
.container {
    font-size: 2rem;
}
footer {
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
