/*============================================================================*/
/*----------------------------------------------*/


/*== Layout ==================================================================*/


/*== Chat Styles =============================================================*/

/*-- Messages ----------------------------------*/
.message {
    background: blue;
}
.message_username {
    font-weight: bold;
    color: white;
}
.message_body {
    color: lightblue;
}
